/* Desktop */
@media screen and (min-width: 900px) {
  .architecture {
    position: relative;
    width: 100%;
    height: 600px;
  }
}

/* Mobile */
@media screen and (max-width: 900px) {
  .architecture {
    position: relative;
    width: 100%;
    height: 300px;
  }
}
